:root {
    /* colorPallet */
    --main:  #F0EEF1;
    --background:  #050505;
    --green: #9FFF9C;
    --font: #FFFBFB;
    --red: #FF9C9C;
    /* border */
    --shadow: rgba(182, 177, 177, 0.536) 0px 1px 5px;
    --lightShadow: rgba(147, 147, 147, 0.16) 0px 1px 2px;
}


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
    background-color: var(--background);
}
h1{
    text-align: center;
    color: var(--font);
}

#empty{
    height: 2px;
    width: 100vw;
    box-shadow: var(--shadow);
}



#gridContainer {
    display: grid;
    grid-template-rows: repeat(3, fit-content(1fr));
    grid-template-columns: repeat(3, 1fr);
    width: 25vw;
    aspect-ratio: 1;
    margin: 50px auto;
    border-radius: 25px;
    box-shadow: var(--shadow);
}

#gridContainer > div{
    font-size: 2em;
    aspect-ratio: 1;
    display: flex; justify-content: center; align-items: center;
    border-radius: 25px;
    box-shadow: var(--lightShadow);
    color: var(--main);
}


/* irresponsive */
